In [7]:
import pandas as pd
import numpy as np

In [8]:
audit_df = pd.read_csv("../data/processed/fraud_cases.csv")
audit_df.head()

   test_index  y_true  y_pred  fraud_probability outcome
0           0       0       0       7.517843e-09      TN
1           1       0       0       2.014189e-03      TN
2           2       0       0       7.212892e-04      TN
3           3       0       0       1.062110e-03      TN
4           4       0       0       1.230299e-04      TN

In [9]:
total = len(audit_df)
pred_fraud = (audit_df["y_pred"] == 1).sum()
true_fraud = (audit_df["y_true"] == 1).sum()

tp = ((audit_df["y_pred"] == 1) & (audit_df["y_true"] == 1)).sum()
fp = ((audit_df["y_pred"] == 0) & (audit_df["y_true"] == 1)).sum()
fn = ((audit_df["y_pred"] == 1) & (audit_df["y_true"] == 0)).sum()
tn = ((audit_df["y_pred"] == 0) & (audit_df["y_true"] == 0)).sum()

precision = tp / (tp + fp) if (tp + fp) else 0
recall = tp / (tp + fn) if (tp + fn) else 0

kpis = {
    "total_cases": total,
    "predicted_fraud": pred_fraud,
    "true_fraud": true_fraud,
    "tp": tp,
    "fp": fp,
    "fn": fn,
    "tn": tn,
    "precision": precision,
    "recall": recall
}

kpis_df = pd.DataFrame([kpis])
kpis_df

,total_cases,predicted_fraud,true_fraud,tp,fp,fn,tn,precision,recall
0,71202,91,123,76,47,15,71064,0.617886,0.835165

In [10]:
kpis_df.to_csv("../data/processed/audit_kpis.csv", index=False)

In [11]:
top_alerts = audit_df[audit_df["y_pred"] == 1].copy()
top_alerts = top_alerts.sort_values("fraud_probability", ascending=False)

top_alerts_50 = top_alerts.head(50)
top_alerts_50

       test_index  y_true  y_pred  fraud_probability outcome
16401       16401       1       1           1.000000      TP
1722         1722       1       1           1.000000      TP
12848       12848       1       1           1.000000      TP
20899       20899       1       1           1.000000      TP
41029       41029       1       1           1.000000      TP
40697       40697       1       1           1.000000      TP
29767       29767       1       1           1.000000      TP
16433       16433       1       1           1.000000      TP
35877       35877       1       1           1.000000      TP
35599       35599       1       1           1.000000      TP
51101       51101       1       1           1.000000      TP
45723       45723       1       1           1.000000      TP
33234       33234       1       1           1.000000      TP
28113       28113       1       1           1.000000      TP
14988       14988       1       1           1.000000      TP
24273       24273       1       1           1.000000      TP
63967       63967       1       1           1.000000      TP
9999         9999       1       1           1.000000      TP
23549       23549       0       1           0.999995      FP
10425       10425       0       1           0.999992      FP
63206       63206       1       1           0.999978      TP
68737       68737       1       1           0.999977      TP
49206       49206       0       1           0.999965      FP
66840       66840       1       1           0.999935      TP
58754       58754       1       1           0.999923      TP
3750         3750       1       1           0.999905      TP
23851       23851       1       1           0.999815      TP
69693       69693       1       1           0.999783      TP
30253       30253       1       1           0.999773      TP
52518       52518       0       1           0.999772      FP
38095       38095       1       1           0.999743      TP
30285       30285       1       1           0.999732      TP
53385       53385       1       1           0.999692      TP
52998       52998       0       1           0.999669      FP
4384         4384       1       1           0.999664      TP
50902       50902       1       1           0.999651      TP
43897       43897       1       1           0.999371      TP
8618         8618       1       1           0.999311      TP
22448       22448       1       1           0.999007      TP
47116       47116       1       1           0.998336      TP
41261       41261       1       1           0.998216      TP
51147       51147       0       1           0.997964      FP
10895       10895       0       1           0.997862      FP
346           346       1       1           0.997587      TP
12684       12684       1       1           0.997408      TP
30316       30316       0       1           0.996896      FP
4946         4946       0       1           0.996511      FP
60594       60594       0       1           0.995710      FP
36930       36930       1       1           0.995637      TP
3790         3790       1       1           0.995632      TP

In [12]:
top_alerts_50.to_csv("../data/processed/top_alers_50.csv", index=False)

In [ ]:
lines = []
lines.append("# Relatório de Auditoria — Detecção de Fraudes\n")

lines.append("## KPIs")
lines.append(f"- Total de casos (teste): **{total}**")
lines.append(f"- Fraudes reais (classe 1): **{true_fraud}**")
lines.append(f"- Alertas gerados (pred=1): **{pred_fraud}**")
lines.append(f"- TP: **{tp}** | FP: **{fp}** | FN: **{fn}** | TN: **{tn}**")
lines.append(f"- Precision: **{precision:.3f}**")
lines.append(f"- Recall: **{recall:.3f}**\n")

lines.append("## Interpretação")
lines.append("- Precision alta significa menos falsos positivos (menos clientes legítimos bloqueados).")
lines.append("- Recall alto significa menos fraudes passando despercebidas.")
lines.append("- Em fraude, normalmente buscamos maximizar recall mantendo precision operacionalmente aceitável.\n")

lines.append("## Top 10 alertas (maior probabilidade de fraude)")
lines.append(top_alerts_50.head(10)[["fraud_probability", "y_true", "y_pred", "outcome"]].to_markdown(index=False))

report_md = "\n".join(lines)

with open("../data/processed/audit_report.md", "w", encoding="utf-8") as f:
    f.write(report_md)

print("Salvo: data/processed/reports/audit_report.md")

Salvo: data/processed/audit_report.md